body{
    background-image: url(gnr1.png);
    background-position: center;
    background-size: inherit;
    font-family: sans-serif;
    margin-bottom: 150px;
    margin-top: 85px;
}
.header1tab{
    width: 700px;
    height: 80px;
    background-color: rgb(0,0,0,0.6);
    margin:auto;
    color: #FFFFFF;
    padding: 9px 0px 9px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    font-family: sans-serif;
}
.layouttable{
    background-color: rgb(0,0,0,0.5);
    width: 700px;
    margin :auto;
}
.tulisanbawah{
    background-color: rgba(230, 0, 0, 0.459);
    font-family:'Lucida Sans Unicode';
    color: seashell;
    text-align: center;
    width: 700px;
    margin: auto;
}
table{
    padding: 20px;
    border: solid 1pt black;
    width: 700px;
    height: 80px;

}      
table td{
    margin-left: 25px;
    margin-top: 10px;
    width: 70px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: solid 1pt black;
}